.btn {
    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 2rem;
  }
  
  .container {
    margin: 2rem 8rem;
    padding: 2rem 3rem;
    background-color: #e2e5e8;
    border-style: inset;
    text-align: center;
    font-size: 1.2rem;
  }