<div class="container">
  <div class="row justify-content-center">
    <div>
      <h4>INCORPORAR PROYECTO</h4>
      <form #f="ngForm" novalidate>
        <img
          [src]="imgP"
          style="width: 200px"
          class="card-img-top"
          id="img"
          alt="..."
        />
        <div class="form-group">
          <label for="img">URL IMAGEN PROYECTO</label>
          <input
            type="text"
            class="form-control"
            name="img"
            [(ngModel)]="imgP"
            required
          />
        </div>
        <div class="form-group">
          <label for="nombreP">NOMBRE DEL PROYECTO</label>
          <input
            type="text"
            class="form-control"
            id="nombreP"
            name="nombreP"
            [(ngModel)]="nombreP"
            required
          />
        </div>
        <div class="form-group">
          <label for="descp">DESCRIPCION PROYECTO</label>
          <textarea
            type="text"
            class="form-control"
            id="descp"
            name="descp"
            [(ngModel)]="descripcionP"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="anioEdu">URL PAGINA PROYECTO </label>
          <input
            type="text"
            class="form-control"
            id="anioEdu"
            name="anioEdu"
            [(ngModel)]="paginaP"
            required
          />
        </div>
        <div class="form-group">
          <label for="anioE">URL REPOSITORIO GITHUB PROYECTO</label>
          <input
            type="text"
            class="form-control"
            id="anioE"
            name="anioE"
            [(ngModel)]="repositorioP"
            required
          />
        </div>

        <button class="btn btn-success" (click)="onCreate()">INCORPORAR</button>
        <button (click)="cancelar()" class="btn btn-dark">CANCELAR</button>
      </form>
    </div>
  </div>
</div>
