<!--<a id="educacion"></a>
<div class="contenedor_educacion">
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="titulo">Educacion</h1>
        <button
          type="button"
          class="btn_nuevo"
          routerLink="/nuevaedu"
          *ngIf="isLogged"
        >
          Nueva Educacion
        </button>
      </div>
    </div>
  </section>

  <div class="position-relative album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <div
                class="d-flex justify-content-between align-items-center"
                *ngFor="let educacion of edu"
              >
                <div class="btn-group btn_edicion" *ngIf="isLogged">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="/editedu/{{ educacion.id }}"
                  >
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="delete(educacion.id)"
                  >
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </div>
              </div>

              <div>
                <img
                  [src]="Educacion.imgE"
                  class="bd-placeholder-img card-img-top"
                  id="img"
                  width="100%"
                  height="225"
                  src="https://i.ibb.co/TBpTQ1y/Codo-Codo2.jpg"
                />
              </div>

              <div class="contenido_info">
                <h5 class="card-text">{{ Educacion.institucionE }}--{{ Educacion.anioE }}</h5>
                <p class="titulo-fecha">{{ Educacion.tituloE}}</p>
                <p class="condicion">{{ Educacion.condicionE }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<a id="educacion"></a>
<div class="container">
  <p class="text-center fs-1 fw-bold border-booton">Educacion</p>
  <a
    type="button"
    class="btn btn-warning boton"
    routerLink="/nuevaedu"
    *ngIf="isLogged"
    >Nueva Educacion</a
  >

  <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
    <div class="col borde" *ngFor="let Educacion of edu">
      <div class="edicion" *ngIf="isLogged">
        <button
          class="editar btn mx-2"
          routerLink="/editedu/{{ Educacion.id }}"
        >
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="borrar btn" (click)="delete(Educacion.id)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>

      <img [src]="Educacion.imgE" class="card-img-top" id="img" alt="..." />
      <div class="card-body">
        <h5 class="fs-4 text-center fw-bold">
          {{ Educacion.institucionE }}-{{ Educacion.anioE }}
        </h5>
        <p class="card-text">{{ Educacion.tituloE }}</p>
        <p class="card-text">{{ Educacion.condicionE }}</p>
      </div>
    </div>
  </div>
</div>
