<div class="container mt-6">
  <div class="row justify-content-center">
    <div>
      <h4>INGRESAR EDUCACION</h4>
      <form #f="ngForm" novalidate>
        <img
          [src]="imgE"
          style="width: 200px"
          class="card-img-top"
          id="img"
          alt="..."
        />
        <div class="form-group">
          <label for="imgE">URL LOGO INSTITUCION</label>
          <input
            type="text"
            class="form-control"
            id="imgE"
            name="imgE"
            [(ngModel)]="imgE"
            required
          />
        </div>
        <div class="form-group">
          <label for="nombrei">NOMBRE INSTITUCION</label>
          <input
            type="text"
            class="form-control"
            id="nombrei"
            name="nombrei"
            [(ngModel)]="institucionE"
            required
          />
        </div>
        <div class="form-group">
          <label for="tituloE">TITULO </label>
          <input
            type="text"
            class="form-control"
            id="tituloE"
            name="tituloE"
            [(ngModel)]="tituloE"
            required
          />
        </div>
        <div class="form-group">
          <label for="anioEdu">AÑO CURSADO (solo admite numero)</label>
          <input
            type="text"
            class="form-control"
            id="anioEdu"
            name="anioEdu"
            [(ngModel)]="anioE"
            required
          />
        </div>
        <div class="form-group">
          <label for="anioE">CONDICION (Concluido/ Cursando) </label>
          <input
            type="text"
            class="form-control"
            id="anioE"
            name="anioE"
            [(ngModel)]="condicionE"
            required
          />
        </div>

        <button class="btn btn-success" (click)="onCreate()">AGREGAR</button>
        <button (click)="cancelar()" class="btn btn-dark">CANCELAR</button>
      </form>
    </div>
  </div>
</div>
