.titulo{
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0 1px rgb(223, 215, 215);
    margin-bottom: 30px;
}

.btn_nuevo{
    padding: 10px 15px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    color: rgb(91, 130, 168);
    background-color: rgb(250, 246, 246);
    box-shadow: 0px 2px 2px 0px rgb(129, 129, 131);

}
.btn_nuevo:hover{
    cursor: pointer;
    border: 1px solid;
    color: rgb(129, 129, 131);
    box-shadow: 0px 3px 3px 0px rgb(159, 159, 170);
}
.contenido_edicion{
    margin-bottom: 20px;
}
.contenido_info{
    margin: 20px 0;
}

.card-body{
    background-color: rgb(204, 229, 253);
}
.card-text{
    font-weight: 700;
}
.descripcion{
    font-weight: 600;
    padding: 10px 0;
}