<a name="sobremi" id="sobremi"></a>
<div class="contenedor_sobreMi">

    <div class="contenedor_edicion">

        <img class="banner" src="https://i.ibb.co/qsV9wFQ/banner.png">

        <div class="contenedor_info">
            <img class="mi_foto" src="https://i.ibb.co/bN1H92b/foto-Personal.jpg">
            <div class="contenedor_texto">
                <P class="nombre">Maria Soledad</P>
                <p class="apellido">Arguello</p>
                <P class="profesion">Estudiante</P>
                <p class="localidad">Cordoba - Argentina</p>
                
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur
                 adipisicing elit. Non, culpa. Illum possimus eius officiis.
                 Voluptates, explicabo iste illum nam aliquid magni aliquam 
                 fuga quasi sequi ut accusamus expedita cum sunt.</p>  
            </div>
       
        </div>       
    </div>

    <button class="btn_editar">Editar Persona</button>

</div>
