.section {
  color: whitesmoke;
  text-shadow: 0 1px rgb(8, 8, 8);
  background: linear-gradient(
    to bottom,
    rgb(165, 185, 206),
    rgb(125, 151, 177),
    rgb(63, 120, 170),
    rgb(45, 80, 110)
  );
}
.btn{
  color: rgb(144, 168, 192);
  background: rgb(250, 246, 246);
  box-shadow: 0px 2px 2px 0px rgb(129, 129, 131);
}
.btn:hover{
  cursor: pointer;
  border: 1px solid;
  color: rgb(129, 129, 131);
  box-shadow: 0px 3px 3px 0px rgb(159, 159, 170); 
}
.titulo{
  text-align: center;
  margin-bottom: 50px;
}
/*.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  
}*/
