








<!-------------------------------------------------------------------------------------->
<!--<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="" rel="stylesheet">

<div>
    <div class="">
        <header class="d-flex flex-wrap justify-content-center  mb-4 border-bottom color">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Simple header</span><img src="https://i.ibb.co/KN9KPZh/APLogo.png" width="150" height="">
          </a>

          <div>
            <ul class="nav nav1">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Sobre Mi</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Experiencia</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Estudios</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Skills</a></li>
                <li class="nav-item"><a href="#" class="nav-link">proyectos</a></li>
              </ul>
          </div>

        <div>
            <button class="btn">Iniciar Secion</button>
            <button >nuevo</button>
        </div>

        <div>
            <ul class="nav nav2">
                <li class="nav-item"><a href="#" class="nav-link"><img src="https://i.ibb.co/TbLVDMd/git.png" width="45" height="30"></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><img src="https://i.ibb.co/zH71h0Z/instagram.png" width="45" height="30"></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><img src="https://i.ibb.co/3417Zyz/linkedin.png" width="45" height="30"></a></li>
                <li class="nav-item"><a href="#" class="nav-link"></a></li>
                <li class="nav-item"><a href="#" class="nav-link"></a></li>
              </ul>
        </div>



        </header>
      </div>


</div>-->