<a id="skills"></a>

<div class="contenedor_skill">
  <h1 class="titulo">Hards & Soft Skills</h1>
  <button
    type="button"
    class="btn_nuevo"
    routerLink="/nuevaskil"
    *ngIf="isLogged"
  >
    Nuevo Skill
  </button>

  <div class="row">
    <div
      class="text-center col-sm-4 col-md-4 col-lg-4 container_car"
      *ngFor="let Skill of ski"
    >
      <div class="btn_edicion" *ngIf="isLogged">
        <button class="icono_edicion" routerLink="/editskil/{{ Skill.id }}">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="icono_edicion">
          <i class="fa-solid fa-trash-can" (click)="delete(Skill.id)"></i>
        </button>
      </div>

      <div>
        <h4 class="sub-titulo">{{ Skill.nombreS }}</h4>
      </div>
      <circle-progress
        [percent]="Skill.porcentajeS"
        [radius]="100"
        [imageSrc]="Skill.imgS"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      >
      </circle-progress>
    </div>
  </div>
</div>
