.contenedor_skill {
  text-align: center;
  padding-bottom: 5rem;
}

.titulo {
  margin-bottom: 3rem;
  font-weight: 700;
  text-shadow: 0 1px rgb(223, 215, 215);
}

.btn_nuevo {
  margin-bottom: 5rem;
  padding: 1%;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  color: rgb(91, 130, 168);
  background-color: rgb(250, 246, 246);
  box-shadow: 0px 2px 2px 0px rgb(129, 129, 131);
}
.btn_nuevo:hover {
  cursor: pointer;
  border: 1px solid;
  color: rgb(129, 129, 131);
  background-color: rgb(204, 229, 253);
  box-shadow: 0px 3px 3px 0px rgb(159, 159, 170);
}
.contenido__card{
    margin-bottom: 5rem;
}

.btn_edicion {
  width: 100%;
  text-align: right;
  position: relative;
  top: 30px;
}

.icono_edicion {
  border-radius: 5px;
  background: rgb(241, 236, 236);
}
.icono_edicion:hover {
  background: rgb(203, 203, 209);
}
#iconos {
  color: rgb(125, 151, 177);
}
.sub-titulo {
    text-align: center;
    
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-shadow: 0 1px rgb(223, 215, 215);
}
