header {
  background-color: rgb(25, 59, 88);
}
.nav-link {
  color: whitesmoke;
  font-size: 1.2rem;
}
.redes__link {
  color: white;
  margin-right: 0.5rem;
}
.nav-link:hover {
  color: rgb(144, 168, 192);
}
.btn__box {
  width: 15%;
}
.btn__red {
  margin-left: 2px;
}
button {
  padding: 3%;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: rgb(144, 168, 192);
  background: rgb(250, 246, 246);
  box-shadow: 0px 2px 2px 0px rgb(129, 129, 131);
}
button:hover {
  cursor: pointer;
  border: 1px solid;
  color: rgb(129, 129, 131);
  box-shadow: 0px 3px 3px 0px #9f9faa;
}
