<a></a>

<header
  class="d-flex flex-wrap gap-4 align-items-center justify-content-center justify-content-md-between py-1 mb-4 contenedor_header"
>
  <p class="d-flex">
    <img src="https://i.ibb.co/KN9KPZh/APLogo.png" width="150" height="auto" />
  </p>
  <!------------------Navegador ------------------------------->
  <div class="nav__box d-flex">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-1">
      <li class=""><a href="#" class="nav-link px-2 nav1 fw-bold">Home</a></li>
      <li><a href="#" class="nav-link px-2 nav1">Sobre Mi</a></li>
      <li><a href="#" class="nav-link px-2 nav1">Educacion</a></li>
      <li><a href="#" class="nav-link px-2 nav1">Experiencia</a></li>
      <li><a href="#" class="nav-link px-2 nav1">Skills</a></li>
      <li><a href="#" class="nav-link px-2 nav1">proyectos</a></li>
    </ul>
  </div>
  <!--------------Inicio , cerrar y nueva Redes------------------->
  <div class="btn__box col-md-0">
      <button type="button" class="btn_nav" (click)="login()" *ngIf="!isLogged">
        Iniciar Secion
      </button>

      <button
        type="button"
        class="btn_nav"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Cerrar Secion
      </button>
    
    <button
      type="button"
      class="btn__red btn_nav"
      routerLink="/nuevared"
      *ngIf="isLogged"
    >
      Nueva Red
    </button>
  </div>
  <!---------------------Redes y edicion---------------------------->
  <div class="redes__btn" *ngFor="let redes of red">
    <div class="">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="{{ redes.linkRed }}" class="nav-link px-2" target="_blank"
            ><img [src]="redes.imgRed" width="30" height="30"
          /></a>
        </li>
      </ul>
      <!--botones editar y eliminar --->
      <div class="" *ngIf="isLogged">
        <a class="redes__link" routerLink="/editred/{{ redes.id }}"
          ><i class="fa-solid fa-pencil"></i
        ></a>
        <a class="redes__link" (click)="delete(redes.id)"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
      </div>
    </div>
  </div>
</header>
