<div class="contenedor_header">
    
    <a><img class="imgLogo" src="https://i.ibb.co/PT5DLpj/APLogo.png"></a>

    <div class="contenedor_nav">
        
        <a class="items_nav">Home</a>
        <a class="items_nav">Sobre Mi</a>
        <a class="items_nav">Educacion</a>
        <a class="items_nav">Experiencia</a>
        <a class="items_nav">Skills</a>
        <a class="items_nav">Proyecto</a>
        
    </div>

    <div class="contenedor_btn">
        <button class="btn_nav">Nueva Red</button>
        <button class="btn_nav">Iniciar Secion</button>
        <button class="btn_nav">Cerrar Secion</button>
    </div>

    <div class="contenedor-redes">
        <div class="redes">
            <a  href=""><img class="iconosRedes" src="https://i.ibb.co/zH71h0Z/instagram.png"></a>
            <a  href=""><img class="iconosRedes" src="https://i.ibb.co/3417Zyz/linkedin.png"></a>
            <a  href=""><img class="iconosRedes"src="https://i.ibb.co/VQm70Y5/git.png"></a>
        </div>
    
        <div class="btn-redes">
            <a ><i class="bi bi-pencil-fill">Del</i></a>
            <br>
            <a ><i class="bi bi-trash3">edi</i></a>
        </div>

    </div>


</div>
